@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --color-bg: #222831;
  --color-bg-sec: rgba(238, 238, 238, 0.363);
  --color-text: #eeeeee;
  --color-secondary: #32371b;
  --color-primary: #d7e690;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important;
}

.box {
  height: 400px;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  color: var(--color-text);
  background-image: url("img/3px-tile.png");
  background-color: var(--color-bg);
  font-family: "Poppins", sans-serif;
  padding-top: 4em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  position: absolute;
  left: 15%;
  bottom: 8vh;
  font-size: 25px;
  padding: 0;
  text-decoration: none;
  animation: nav-load 1s ease-in-out;
  transform: scale(0);
  animation-fill-mode: forwards;
}

.socials .fa-brands {
  color: var(--color-primary);
  transition: 0.3s;
}

.socials .fa-brands:hover {
  color: white;
}

.socials::after {
  content: "";
  width: 1px;
  height: 10vh;
  background-color: var(--color-primary);
}

header > a:last-child {
  position: absolute;
  right: 10%;
  transform: rotate(90deg);
  bottom: 13vh;
  color: var(--color-primary);
  text-align: end;

  animation: none;
}

header > a:last-child:hover {
  color: white;
  transition: ease-in-out 0.3s;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2vw;
  animation: nav-load 1s ease-in-out;
  transform: scale(0);
  animation-fill-mode: forwards;
  z-index: 999;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  padding: 0.5em 1em;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav li {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  color: white;
  border-radius: 50%;
  padding-left: 1px;
  transition: 0.3s;
  font-size: 20px;
}

nav li a:hover {
  background: rgba(0, 0, 0, 0.3);
  color: var(--color-secondary);
}

h3 {
  color: var(--color-primary);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main #home h2 {
  color: var(--color-primary);
  background: rgb(137,157,40);
  background: linear-gradient(135deg, rgba(137,157,40,1) -0%, rgba(215,230,144,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home > h1 {
  font-weight: lighter;
}

.home > img {
  margin: 5em 0 7em 0;
  display: block;
  width: 250px;
  background: rgb(34, 40, 49);
  background: linear-gradient(
    0deg,
    rgba(34, 40, 49, 1) 0%,
    var(--color-primary) 100%
  );
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  animation: img-load 1s ease-in-out;
  transform: scale(0);
  animation-fill-mode: forwards;
}

.home > p:first-child {
  margin-bottom: 0.5em;
}

.home > p:nth-child(3) {
  color: var(--color-bg-sec);
  margin-top: 0.5em;
}

.home > .buttons {
  margin: 2em 0 0 0;
}

.buttons > button {
  padding: 0.75em;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.buttons > button:first-child {
  background-color: var(--color-bg);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}

.buttons > button:first-child a {
  text-decoration: none;
  color: var(--color-primary);
}

.buttons > button:last-child {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 5px;
}

.buttons button:last-child a {
  text-decoration: none;
  color: var(--color-secondary);
}

.buttons button:first-child:hover {
  background-color: var(--color-text);
  border: 1px solid var(--color-text);
}

.buttons > button:last-child:hover {
  background-color: var(--color-text);
  color: var(--color-bg);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container p {
  color: white;
  font-size: 13px;
}

.about {
  padding: 2em;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
content {
  width: 400px;
  height: 400px;
  background-color: #d7e690;
  border-radius: 2em;
}

content img {
  width: 400px;
  border-radius: 2em;
  transform: rotate(10deg);
  transition: 0.3s;
}

content img:hover {
  transform: none;
}

aside {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1em;
}

aside p {
  min-width: 400px;
}

aside h4 span {
  color: var(--color-primary);
  background: rgb(137,157,40);
  background: linear-gradient(135deg, rgba(137,157,40,1) -0%, rgba(215,230,144,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about aside p {
  font-size: 16px;
}

.about aside button {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 0.75em;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
}

.about aside button a {
  color: var(--color-secondary);
}

.about aside button:hover {
  background-color: var(--color-text);
  color: var(--color-bg);
}

.skill {
  width: 60%;
  padding: 2em;
  background-color: transparent;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
  flex-wrap: wrap;
  border-radius: 2rem;
  margin: 4em;
}

.card {
  background-color: var(--color-secondary);
  min-width: 20%;
  min-height: 20%;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  gap: 2em;
}

.card .fa-brands,
.card .fas {
  color: var(--color-primary);
  font-size: 40px;
}

.card p {
  color: var(--color-bg-sec);
  font-size: 12px;
}

footer {
  min-height: 400px;
  width: 100%;
  background-color: var(--color-primary);
  text-align: center;
  color: var(--color-secondary);
  padding: 2em;
  padding-bottom: 4em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-evenly;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

footer a {
  text-decoration: none;
  color: var(--color-secondary);
}

footer a i {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  font-size: 30px;
  padding: 0.4em;
  border-radius: 0.7rem;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.outer-con {
  width: 60%;
  /* background-color: var(--color-primary); */
  border-radius: 2rem;
  padding: 2rem;
  margin: 4rem 0;
}

.inner-con {
  width: 450px;
  margin: auto;
  overflow-x: hidden;
}

.slider {
  display: inline-flex;
  margin-bottom: 1rem;
  transition: 0.3s;
}

.slider img {
  width: 300px;
  height: 200px;
  border-radius: 15px;
}

.slider .project-card1,
.project-card2 {
  width: 450px;
  background-color: var(--color-secondary);
  text-align: center;
  border-radius: 20px;
  padding: 3rem;
}

.slider h3 {
  font-size: 15px;
  margin: 2rem 0;
  color: var(--color-text);
}

.slider button {
  border-radius: 10px;
}

.slider button:first-child:hover {
  color: var(--color-secondary);
}

.btns {
  margin: auto;
  text-align: center;
}

.btns button {
  width: 24px;
  height: 24px;
  border: 2px solid var(--color-primary);
  background-color: transparent;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin: 0 6px;
}

.btns button:nth-child(1) {
  background-color: var(--color-primary);
}

.project-card1 .buttons button:first-child {
  background-color: var(--color-bg);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}

.project-card1 .buttons button:first-child a {
  text-decoration: none;
  color: var(--color-primary);
}

.project-card1 .buttons button:first-child:hover {
  background-color: var(--color-text);
  border: 1px solid var(--color-text);
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin: 6rem 0;
}

.contact-container a {
  font-size: 12px;
}

.contact-card {
  background-color: var(--color-secondary);
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-card p {
  font-size: 8px;
  color: rgb(163, 163, 163);
}

.contact-card a {
  color: var(--color-primary);
  transition: 0.3s;
  cursor: pointer;
}

.contact-card a:hover {
  color: var(--color-text);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

textarea, input {
  color: var(--color-text);
}

textarea:focus, input:focus {
  color: var(--color-text);
}

form input,textarea {
  background-color: var(--color-secondary);
  padding: 0.75rem;
  border-radius: 10px;
  border: 1px solid var(--color-primary);
}

form button {
  padding: 0.75em;
  font-size: 16px;
  transition: 0.3s;
  background-color: var(--color-bg);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  cursor: pointer;
}

form button:hover {
  background-color: var(--color-text);
  color: var(--color-bg);
}

@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }
  .about content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about aside {
    display: flex;
    align-items: center;
  }

  .about aside p {
    font-size: 12px;
    max-width: 10px;
    text-align: center;
  }

  .about aside h4 {
    width: max-content;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  header {
    display: none;
  }
  footer h1 {
    font-size: 25px;
  }
  footer ul {
    flex-direction: column;
    gap: 1em;
  }

  footer span {
    font-size: smaller;
  }
}

@keyframes nav-load {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes img-load {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.swiper {
  margin: 4rem 0;
  width: 700px;
  height: 500px;
}

.project-card {
  /* background-color: #32371b; */
  width: 100%;
  height: 100%;
  text-align: center;
}

.project-card img {
  width: 60%;
  height: 60%;
  border-radius: 15px;
  border: 10px solid var(--color-primary);
  margin-bottom: 1.5rem;
}

.project-card .buttons {
  margin: 1rem 0;
}

.swiper-slide:nth-child(2) .buttons button {
  background-color: var(--color-bg);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}

.swiper-slide:nth-child(2) .buttons button a {
  color: var(--color-primary);
}

.swiper-slide:nth-child(2) .buttons button:hover {
  background-color: var(--color-text);
  border: 1px solid var(--color-text);
  color: var(--color-bg);
}

